<!doctype html>
<html>
  <head>
    <title>Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>New Message Form</h1>
    <form method="POST" action="/new">
      <label>
        author name:
        <input type="text" name="authorName" />
      </label>
      <label>
        message text:
        <input type="text" name="messageText" />
      </label>
      <button>Send!</button>
    </form>
  </body>
</html>
